<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    function fetchData() {
            const xhttp = new XMLHttpRequest;
            xhttp.onload = function() {
              const data = JSON.parse(this.responseText)
              console.log(data)
             }
             xhttp.open("GET", "/getscores/", true) 
             xhttp.send();
    }
    fetchData()
</script>
<body>
    
</body>
</html>